* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F9;
}

.header{
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    flex-grow: 1;
}

.footer{
    height: 100px;
    background-color: #313131;
}

.header_menu {
    display: flex;
    gap: 0 60px;
}

.logo {
    width: 100px;

}

.header_link {
    font-weight: 400;
    font-size: 16px;
    color: #4f5665;
    cursor: pointer;
}

.header_link:hover {
    color: #000000;
}


.header_bar {

}


.button_main {
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.button_main-active {
    border: 1px solid #F53855;
    color: #F53855;
}


.promo {
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
}

.promo_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo_image {
    width: 580px;
}

.promo_title {
    font-weight: 500;
    font-size: 33px;
}

.promo_subtitle {
    margin: 40px 0 0 0;
    font-weight: 400;
    font-size: 14px;
}

.button_submain {
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    background-color: #f53838;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    box-shadow: 0px 11px 17px -5px rgba(0, 0, 0, 0.29);
}

.promo_button {
    margin: 60px 0 0 0;
}









.offer {
    padding: 60px 0 60px 0;

}

.offer_title {
    font-size: 34px;
    text-align: center;
}

.offer_subtitle {
    padding: 30px 0 0 0;
    font-size: 18px;
    color:#4F5665;
    font-weight: 300;
    line-height: 18px;
    text-align: center;

}

.offer_container {
    margin: 50px 0 0 0;
    display: flex;
    justify-content:center ;    
    gap: 0 100px;
}

.card {
    padding: 45px 0 ;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 350px;

}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image {
    width: 150px;
    
}

.card_title {
    margin: 30px 0 0 0;
    font-size: 20px;
}

.card_list {
    margin: 30px 0 0 0;
    list-style-type: none;
}

.card_item {
    display: flex;
    gap: 0 20px;
    margin: 10px 0 0 0;
}

.card_icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.card_text {
    color: #4F5665;
}

.card_bar {

}

.card_price {
    font-size: 30px;
    font-weight: 500;
    margin: 100px 0 0 0;
    text-align: center;
}

.card_button {
    margin: 20px 0 0 0;
}
